/* New Color Palette:
* Lightest (Main Background): #F1FAEE
* Dark Blue (Primary): #457B9D
* Light Blue (Secondary): #A8DADC
* Red (Accent): #E63946
*/

.bg-info {
  background-color: #457B9D !important;
  /* Light blue for secondary backgrounds */
}

.navbar-light .navbar-brand,
.navbar-light .navbar-nav .nav-link {
  color: #F1FAEE;
  /* Dark blue for brand name & nav links for visibility */
}

.btn-info {
  color: #f2f3f7;
  /* Lightest shade for text on info button for contrast */
  background-color: #45789D;
  /* Light blue for button background */
  border-color: #0f0f14;
  /* Dark blue for button border */
}

.btn-primary {
  color: #E0FBFC;
  /* Lightest shade for text */
  font-size: 150%;
  background-color: #3D5A80;
  /* Dark blue for primary button background */
  border-color: #EE6C4D;
  /* Orange for border to use as accent */
  border-width: thick;
}

#button{
  color: #E0FBFC;
}

body {
  background-color: #F1FAEE;
  /* Lightest shade for body background to follow the 60% rule */
}

.navbar-brand {
  font-family: 'Oswald', cursive;
  /*change the font name for what you have*/
  font-size: 2.25rem;
}


body {font-family: Arial, Helvetica, sans-serif;}
form {border: 3px solid #f1f1f1;}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.login_btn {
  background-color: #11c281;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 50px;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #ad4d46;
  border-radius:50px;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

.notesSection {
  width: 100%;
  min-height: 100vh;
  background:#457B9D;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }}

